header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 30px;
    background: #38201d;
    color: wheat;
}

.headerTitulo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.brand {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: xxx-large;
}

.headerCategorias {
    padding: 0;
    margin: 0 0 2px 0;
}

li {
    font-family: "Zen Kaku Gothic New", sans-serif;
    display: inline-block;
    margin: 0 20px 10px 20px;
    
}